:root {
  --ml-yellow: #fff159;
  --ml-blue: #3483fa;
  --ac-green: #a5bc00;
  --ml-gray: #ebebeb;
  --ml-gray-dark: #333333;
  --ml-gray-lght: #666666;
}
* {
  margin: 0;
  outline: 0;
}
html {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: var(--ml-gray-dark);
  background-color: var(--ml-gray);
}
body{
  background-color: var(--ml-gray) !important;
}
/* Header */
.Header .container-fluid {
  max-width: 1200px;
  justify-content: flex-start !important;
}
.navbar {
  background-color: var(--ml-yellow);
  padding: 1rem !important;
}

.navbar-brand {
  width: 44px;
  max-width: 44px !important;
  height: 34px;
  background-image: url(./assets/isologo.png);
  background-size: 44px 34px;
  background-repeat: no-repeat;
}
.nav-icon-search:focus {
  box-shadow: none;
}
.nav-icon-search:active {
  border: none;
}
.nav-icon-search {
  background-color: white !important;
  width: 34px;
  height: 34px;
  background-image: url(./assets/search-icon.png);
  background-size: 12px;
  background-position-y: 10px;
  background-position-x: center;
  background-repeat: no-repeat;
  border-radius: 0;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.navbar .form-control {
  padding: 0;
  font-size: 1rem;
  border-radius: 0;
  border: none;
  padding-left: 5px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.navbar a {
  color: var(--ml-gray-dark);
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.btn-header {
  position: relative;
  width: 80px !important;
  max-width: 80px !important;
  padding: 0 !important;
}
.btn-header .logo-devrock {
  position: absolute;
  display: none;
}
.menu-btn {
  position: relative;
  z-index: 1001;
  width: 40px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.menu-btn:focus {
  box-shadow: none;
}
.menu-btn-ham1,
.menu-btn-ham2,
.menu-btn-ham3 {
  background-color: var(--ml-gray-dark);
  position: absolute;
  top: calc(50% - 1px);
  left: 30%;
  width: 40%;
  height: 1px;
  margin-bottom: 1px;
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn-ham1 {
  transform: translateY(-6px);
}
.menu-btn-ham3 {
  transform: translateY(6px);
}

.close {
  z-index: 1001;
  width: 50px;
  height: 50px;
  pointer-events: none;
  transition: background-color 0.6s;
}
/* closing animation */
.closeBtn2 {
  transform: scaleX(0);
}
.closeBtn1 {
  transform: rotate(45deg);
}
.closeBtn3 {
  transform: rotate(-45deg);
}
.navbar-collapse {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;
  background-color: #fff;
  transform: translate(-25px, 9rem);
  margin-top: 1.5rem;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
  border-top: solid 1px #e5d850;
  z-index: 1000;
}
.nav-item {
  display: flex;
  align-items: center;
}
.menu-search {
  width: 100%;
}
.menu-search a {
  color: #33333399;
}
.menu-search a:hover {
  color: #333333;
}
.dropdown-menu {
  background-color: var(--ml-gray-dark);
}

.menu-user {
  display: flex;
  align-items: center;
  width: 100%;
}
.menu-user li {
  height: 24px;
  color: #333333;
}
.menu-user a {
  color: #333333;
}
.menu-user a:hover {
  color: #333333;
}
.menu-user img {
  display: none;
}
.navbar-nav a {
  padding: 0;
}
.send-btn {
  padding: 1rem;
  transform: translateX(-1.2rem);
}
.navbar-nav-scroll {
  overflow: visible;
}
.btn {
  padding: 0;
}
.btn-cart:focus {
  box-shadow: none;
}
.btn-cart1 {
  display: inline;
  padding: 0 !important;
}
.btn-cart1 a {
  padding: 0;
}
.btn-cart2 {
  display: none;
}
.dropdown-menu a {
  margin-left: 1rem;
  color: white !important;
  width: 140px;
}
/* /Header */
/* Hero */

/* /Hero */
/* Products */
.products {
  position: relative;
  background-color: var(--ml-gray);
}
.products h3 {
  display: inline;
  font-size: 1.5rem;
  font-weight: 100;
}
.products a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--ml-blue);
}
.btn-products {
  position: absolute;
  top: 50%;
  z-index: 1000;
}
.products .carousel-item {
  max-height: 330px;
  overflow: hidden;
}
.btn-product {
  width: 30px;
  height: 30px;
  line-height: 20px;
  font-size: 2rem;
  background-color: white;
  color: var(--ml-blue);
  border-radius: 50%;
  box-shadow: 0 1px 1px 0 rgba(51, 51, 51, 0.555);
}
.btn-product:focus {
  box-shadow: 0 1px 1px 0 rgba(51, 51, 51, 0.555) !important;
}
i:active {
  color: var(--ml-blue);
}
.products .card-container {
  min-width: 210px;
}
.products .card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 8px;
  min-width: 210px;
  height: 330px;
  transform: scale(0.8);
  transition: 0.2s;
}
.products .card:hover {
  transform: scale(0.9);
  box-shadow: 5px 1px 12px 0 rgba(51, 51, 51, 0.555);
}
.products .card img {
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 70%;
  max-width: 200px;
}
.products .card-body {
  height: 120px;
  max-height: 120px !important;
  border-top: solid 1px var(--ml-gray);
}
.products .card-title {
  font-size: 2rem;
  font-weight: normal;
}
.products .card-text {
  font-weight: 100;
}
/* /Products */
/* Payment-optioons */
.Payment-options {
  background-color: var(--ml-gray);
}
.Payment-options .payment__card-container  {
  position: relative;
  margin-bottom: 2px;
  padding-right: 80px;
  overflow: hidden;
  max-height: 80px;
}
.payment__card, .payment__btn {
  display: flex;
  align-items: center;
  min-width: 220px;
  height: 80px;
  background-color: white;
  padding: 0;
}
.payment__btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  border-left: 1px solid var(--ml-gray);
  width: 80px;
  min-width: 80px;
  max-width: 80px;
}
.payment__card-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  padding: 1rem;
  cursor: pointer;
}
.payment__card-icon .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid var(--ml-gray);
  overflow: hidden;
}
.payment__card-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column; 
  padding-left: 1rem;
}
.payment__card-text h4 {
  font-weight: normal;
  margin: 0;
}
.payment__card-text a {
  text-decoration: none;
  color: var(--ml-blue);
}
.payment__card-btn{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.payment__card-btn .btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid var(--ml-gray);
}
.payment__card-btn .btn-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: var(--ml-blue);
  color: white;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
}
/* /Payment-optioons */
/* Footer */
.Footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-top: 1px solid var(--ml-gray);
  height: auto;
}
/* /Footer */
@media (min-width: 992px) {
  .navbar-collapse {
    transform: translate(-21px, 8rem);
  }
  .products h3 {
    font-size: 2rem;
  }
  .products a {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .navbar-brand {
    width: 134px !important;
    max-width: 134px !important;
    height: 34px;
    background-size: 134px 34px;
    background-image: url(./assets/logo.png);
  }
  .navbar form {
    max-width: 60%;
  }
  .navbar-collapse {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    background-color: var(--ml-yellow);
    transform: translateX(0);
    box-shadow: none;
    border-top: none;
    font-size: 1rem;
  }
  .menu-search,
  .menu-user {
    width: auto;
  }
  .menu-user img {
    display: inline;
  }
  .btn-cart1 {
    display: none;
  }
  .btn-cart2 {
    display: inline;
  }
  .btn-header .logo-devrock {
    display: block;
  }
}
